/*Css Header*/

.navbar
{
	height:90px;
	z-index:3;
	border-bottom:1px solid #ccc;
}
.background-header
{
	height:90px;
	background:#F65275 ;
	opacity:0.3;
	z-index:2;
}
.navbar-brand img
{
	float:left;
}
.navbar-brand span
{
	color:#FF3;
	border-left:1px solid #CCC;
	padding-left:10px;
	margin-left:10px;
	height:40px;
	line-height:40px;
	float:left;
}
.nav-link
{
	float:right;
}
.social-icon
{
	width:110px;
	height:20px;
	float:right;
}
.search-btn, .toggler-btn, .toggler-menu, .social-icon a
{
	float:right;
}
 
header a
{
	text-shadow:0 0 3px #666;
	color:white !important;
	font-weight:bold;
	transition:all 0.4s ease-in-out;
}
header a:hover
{
	color:#eb6bd7 !important;
}
.dropdown-item:hover
{
	background:#201F3D;
}

/* CSS Serch button */

input
{
	outline: none;
}
input[type=search]
{
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button
{
	display: none; /* remove the search and cancel icon */
}

/* search input field */
input[type=search]
{
	background:url(../images/search-icon.png) right 3px center no-repeat;
	border: solid 1px white;
	padding: 0px 14px 0px 10px;
	width:0px;
	color: transparent;
	cursor: pointer;
	margin:0 5px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
 input[type=search]:hover 
{
	background-color: #fff;
}
input[type=search]:focus
{
	background-color: #fff;
	border-color: #eb6bd7;
	width: 130px;
	color: #000;
	background-color: #fff;
	cursor: auto;
	-webkit-box-shadow: 0 0 5px #eb6bd7;
	-moz-box-shadow: 0 0 5px #eb6bd7;
	box-shadow: 0 0 5px #eb6bd7;
}
input:-moz-placeholder 
{
	color: transparent;
}
input::-webkit-input-placeholder 
{
	color: transparent;
}

/*end search button*/

/* social icon*/

.icon
{
	margin:0 10px;
}
.toggler-btn
{
	box-shadow:0 0 5px #eb6bd7;
}

@media(max-width:1091px)
{
	header
	{
		position:relative;
	}
	.navigation, .toggler-menu
	{
		background:#333;
		opacity:0.9;
		border-radius:0 0 0 30px;
		padding:0 10px 10px 10px;
	}
	.toggler-btn
	{
		position:absolute;
		top:0px;
		right:0px;
	}
	.toggler-menu
	{
		position:absolute;
		top:50px;
		right:0px;
	}
	header nav .social-icon
	{
		position:absolute;
		top:69px;
		left:40px;
	}
}



/*slideshow*/

.carousel-inner img 
{
      width: 100%;
      height: 100%;
}

.carousel-indicators li
{
    color: #ffffff;
    background-color: #ffffff;
    width: 9px;
    height: 9px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    margin: 0px 15px 0px 15px;
	border-radius:5px;
}
.carousel-indicators .active
{
	box-shadow:0 0 10px #ec15cb ;
	background:#FFFF9F;
    width: 9px;
    height: 9px;
}
.tip
{
	position:relative;
}
.tip-content
{
	position:absolute;
	top:200px;
	left:50px;
}
.tip-title
{
	font-size:36px;
	font-family:"serif";
	color:#eb6bd7;
	font-weight:bold;
	font-style:italic;
	margin-top:10px;
}

.emphasis
{
	font-weight:800;
	color:white;
	font-size:60px;
	word-spacing:0.5;
	margin-top:-35px;
	text-shadow:0 0 5px yellow;
}
.text
{
	margin-top:-10px;
	color:white;
	font-style:italic;
}
.about-button
{
	width:140px;
	height:40px;
	margin:10px 0;
	background:#eb6bd7;
	font-weight:bold;
	color: white;
}
.about-button:hover
{
	background:#f5a0e8;
	color: yellow;
}
.save
{
	min-height:500px;
	background:url(../images/cover.jpg) center no-repeat;
	background-size:cover;
	margin:20px 0;
}
/*
=================== Css Main content ===================
*/
.emphasis2
{
	font-weight:800;
	color:black;
	font-size:50px;
	margin-top:-30px;
}
.text2
{
	color:#999;
	font-style:italic;
	padding-left:10px;
}
.main .about-button
{
	margin:0;
}
.main article
{
	text-align:center;
	margin: 20px 0;
}
.info
{
	margin:50px 0 !important;
}
.main .package
{
	background:url(../images/long-straight-hairstyles-for-women.jpg) center no-repeat;
	height:555px;
	padding-top:125px;
}
.main .package .emphasis2,
.main .package  .text2
{
	color:white;
}
.point
{
	font-family:serif;
	font-weight:bolder;
	font-size:30px;
	float:left;
	margin-left:10px;
	line-height:60px;
	color:white;
}
.contact
{
	background:#eb6bd7;
	color:white;
	min-height:120px;
}
.contact i
{
	font-size:40px;
	line-height:120px;
}
.contact p
{
	margin-top:35px;
	padding-left:50px;
	text-align:left;
	
}

/* CSS FOOTER*/
footer
{
	background:#333;
	min-height:150px;
	padding-bottom:50px;
}
.foot-logo img
{
	margin:10px;
}
.foot-logo span
{
	line-height:50px;
	margin-left:10px;
	padding-left:10px;
	color:#666666;
}
.foot-logo
{
	border-bottom:1px solid #999;
}
.copy-right
{
	color:#666;
	margin-top:10px;
	font-size:12px;
}
footer .social-icon a
{
	color:#999;
}
footer .social-icon a:hover
{
	color:#903;
}


.page-mark
{
	width:50px;
	height:50px;
	background:#eb6bd7;
	border-radius:25px;
	text-align:center;
	font-size:24px;
	padding:5px 10px;
	marin-bottom:10px;
}
.page-mark:hover
{
	background:#900;
}
.page-mark a
{
	color:white;
}

/*
=================== Css about.html ===================
*/

.about
{
	background:#F6F7F7;
	padding:40px 0px 20px 0px;
	margin:20px 0;
}
.about-icon
{
	width:100px;
	height:100px;
	border-radius:50px;
	background:#eb6bd7;
	color:white;
	line-height:96px;
	text-align:center;
	font-size:50px;
	margin:20px auto;
}
.about-title
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	font-weight:bold;
	margin:10px 0;
}
.about-text
{
	color:#666;
}
.about-info
{
	background:#F6F7F7;
	padding:20px 10px;
}


/* CSS Service.html*/
.fancybox img
{
	margin-bottom:30px;
	-webkit-transform:scale(0.9); 
	transform:scale(0.9); 
	-webkit-transition: all 0.5s ease; 
	transition: all 0.5s ease;
}
.fancybox:hover img
{
	-webkit-transform:scale(1.1); 
	transform:scale(1.1);
	border-radius:10%; box-shadow: 0 10px 6px -6px grey;
}
.service-title
{
	color: #222a3e;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.1px;
	padding-left:10px;
}
.service-price
{
	font-size: 30px;
    line-height: 1.4em;
	color:#eb6bd7;
	padding-left:15px;
}
.service-list
{
	font-family:Tahoma, Geneva, sans-serif;
	color:#666;
}